body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.user-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Add this style to strikeout text */
.strike {
    text-decoration: line-through;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within the container */
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    flex-direction: column; /* Arrange options in a column */
    align-items: center; /* Center options horizontally */
}

.option-row {
    display: flex;
    margin-bottom: 10px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

/* Basic styling for alert dialogs */
.alert-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #dddddd;
    border-radius: 5px;
    z-index: 999;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Animation for points increase or decrease */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.points {
    animation: fade 0.3s ease;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
